@import url("bulma/css/bulma.css");

html {
    font-size: 14px;
    font-weight: normal;
}

.play-btn svg {
    transform: scale(1.5);
}

.play-btn.delete-btn svg path {
    color: #f14668;
}

.play-btn.active:not(.delete-btn) svg path {
    color: #48c78e !important;
}

.play-btn[disabled] {
    background-color: transparent;
    border-color: transparent;
}

::-webkit-scrollbar {
    width: 0.375rem;
    margin: 0.25rem 0;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 0.5rem;
}

hr {
    height: 0;
    border-top: 1px solid white;
}

input:not(.swal2-input), select, option {
    text-transform: lowercase;
    background: #161616 !important;
    color: white !important;
    border-color: #161616 !important;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.616);
}

::placeholder {
    color: grey !important;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 8rem;
    display: flex;
    z-index: 5;
}

.overlay > div:first-of-type {
    background: #16161698; 
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.close-btn {
    border-radius: 50%;
}

.show-mobile-flex {
    display: none;
}

@media screen and (max-width: 800px) {
    .title.is-1 {
        font-size: 2rem;
    }

    .hide-mobile {
        display: none;
    }

    .show-mobile-flex {
        display: flex;
    }
}